venv/
__pycache__/
*.pyc
.env
# IMPORTANTE: No subir tus credenciales reales si el repo es público
serviceAccountKey.json
Leer_Firebase.py.env
Guia.txt
index.html2
TWILO.py
pagos2.html
app2.py
app3.py #Credenciales de TWILO en el cuerpo